<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>

    <h1>welcome to your dash</h1>
    <a href="/logout">Logout</a>
    <br>

    <!-- <a href="/menu">View Menu</a> -->

    <br>

    <a href="/customer/menu">View menu</a>
    <br>
    <a href="/admin/menu">View admin menu</a>


    
</body>
</html>

