{% extends "index.html" %}

{% block title %}Delivery{% endblock %}

{% block content %}
    <section class="booking-form">
        <div class="form-container">
            <form action="/delivery" method="post">
                <h2>2. Delivery</h2>

                <div class="form-group">
                    <input type="radio" id="collection" name="delivery" value="collection" required>
                    <label for="collection">Collection</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="delivery" name="delivery" value="delivery">
                    <label for="delivery">Delivery (+ £5.00)</label>
                </div>

                <div class="form-group">
                    <p class="message">{{ message|safe }}</p>
                </div>

                <div class="form-group">
                    <label>Total</label>
                    <p>£{{ "%.2f"|format(total) }}</p>
                </div>

                <button type="submit" class="submit-btn">Next</button>
            </form>
        </div>
    </section>
{% endblock %}