<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Please view the menu</h1>
    
    {% if menu_items %}
        <table border="1" cellpadding="8">
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Description
                </th>
                <th>
                    Category
                </th>
                <th>
                    Price
                </th>
            </tr>

            {% for item in item_menu}
            <tr>
                <td>
                    {{ item.item_name }}
                </td>
                <td>
                    {{ item.item_description }}
                </td>
                <td>
                    {{ item.item_cat }}
                </td>
                <td>
                    {{ item.item_price }}
                </td>
            </tr>
        {% else %}
            <p>No menu items available</p>

        </table>

</body>
</html>