<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/payment" method="post">
        <h2>3. Payment Details</h2>
        <h3>Total: £{{ "%.2f"|format(total) }}</h3>

        
        <input type="hidden" name="total" value="{{ total }}">

        <label>Card Number: </label>
        <input
            type="text"
            name="card_number"
            placeholder="1234 5678 9012 3456"
            pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}"
            required
        ><br><br>
        <label>CVV: </label>
        <input
            type="text"
            name="cvv"
            placeholder="123"
            pattern="[0-9]{3}"
            required
        ><br><br>

        <button type="submit">Pay</button>
    </form>

</body>
</html>