{% extends "index.html" %}

{% block title %}Voucher{% endblock %}

{% block content %}
    <section class="booking-form">
        <div class="form-container">
            <form action="/voucher" method="post">
                <h2>1. Voucher Code (Optional)</h2>
                <div class="form-group">
                    <label>You have {{ curr_reward_points }} reward points</label>
                    <input type="text" name="voucher_code" placeholder="Enter voucher code">
                </div>

                <div class="form-group">
                    <p class="message">{{ message|safe }}</p>
                </div>

                <div class="form-group">
                    <label>Total</label>
                    <p>£{{ "%.2f"|format(total) }}</p>
                </div>

                <form action="/voucher" method="post" class="inline-form">
                    <button type="submit" class="submit-btn">Next</button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" >
                </form>
            </form>
        </div>
    </section>
{% endblock %}